* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0;
    clear: both;
}
.colour-group {
    margin-left: 20px;
}
.swatch {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    width: 400px;
    height: 50px;
    color: white;
}
.swatch-label {
    overflow: hidden;
    display: block;
    float: left;
    width: 400px;
    padding: 16px;
}
.text-light {
    color: #ffffff;
}
.text-dark {
    color: #333333;
}
.swatch-label-name {
    display: block;
    width: 184px;
    float: left;
}
.swatch-label-code {
    display: block;
    width: 184px;
    font-family: Courier New, Courier, monospace;
    float: right;
    text-align: right;
}
.swatch-list {
    margin-bottom: 20px;
}
